<div id="header_inner_div"><div id="header_inner_left_div">

<div id="header_inner_div"><div id="header_inner_left_div">

<span class="site_name">
<a href="."style="text-decoration:none">Book Me A Game</a>

 
</span>
<span style = "padding-left: 12%">
<div class="fb-like" data-href="http://www.bookmeagame.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</span>

</div><div id="header_inner_center_div">
</div><div id="header_inner_right_div">

</div></div>
<!--a href=".">Home</a> | <a href="#/checkbooking">Booking Information</a>
-->
</div><div id="header_inner_center_div">

</div><div id="header_inner_right_div">

<!-- <a href="#/userlogin">User Login</a> | <a href="#/playgroundlogin">Playground Login</a> -->
</div></div>
