<div ng-show="loading">
<div ng-show="loading" id="notification_inner_div">
<div id="notification_inner_cell_div">Loading...</div>
</div>
</div>

<h1 class="search blue" >Which game are you going to play?</h1>
<h2 class="search blue" >Search a play area near you</h2>

<div class="box_div centred_div" id="search_div">
<div class="search_box_body_div">
<form name="game_search_form" action="." id="game_search_form">
<table>
<tr>
	<td>Game type, ex: Badminton</td>
	<td>Location, ex: Bellandur</td>
</tr>
<tr>
	<td><input type="text" name="game_type_input" id="game_type_input" class="large_text" placeholder="Game type, ex: badminton" data-ng-model="game_type"></td>
	<td><input type="text" name="location_input" id="location_input" class="large_text" placeholder="Location" autocapitalize="off" data-ng-model="location"></td>
	<td><input type="button" name="Search" value="Search" data-ng-click="SetSearchUrl()">	</td>
</tr>
</table>

</form>	

<div ng-show="IsError">
	<br/>
	{{error}}
</div>

</div>
</div>

<div ng-if="venues.length > 0">

<div class="flat_box_div centred_div" data-ng-repeat="venue in venues | orderBy:predicate:reverse">
	<div class="flat_box_body_div ">
		<h3><!-- <a href="#/playground/{{venue.Playground_url}}">{{venue.Playground_name}}</a> -->
		<span><font style="text-transform: uppercase;"><b>{{venue.Playground_name}}</b></font> - {{venue.Playground_locality}}</span>
		</h3>
		<span class="soft">{{venue.Playground_sports_type | uppercase}}</span>
		<br/>
		<br/>
		Rate : <span class="soft">{{venue.Playground_rate}} per time slot of 1 hour</span>
		<br/>
		Address : <span class="soft">{{venue.Playground_address}}</span>
		<br/>
		About : <span class="soft">{{venue.Playground_about}}</span>
		<br/>
		Contact : <span class="soft">{{venue.Playground_number}}</span>
		<br/>
		<br/>
		<a target="_blank" href="{{venue.Playground_google_map}}">Get directions to this place</a>
		<!-- <br/>
		<span class="soft">Time slots : {{venue.Venue_time_slots}}</span> -->
		<!-- br/>
		<br/>
		<span class="soft">Contact : {{venue.Playground_venues[0].Venue_contact_number}}</span>
		<br/>
		<!-- <a href="">Reviews</a> | <a href="">Reservations</a> -->
	</div>	
</div>

</div>	
